* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*flex added*/
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

/*jumbotron added*/
.jumbotron {
    display: flex;
    justify-content: center;
    text-align: center;

}

/*search input added with padding*/
.form-searchinput {
    padding: 10px;
    margin: 10px; 
}

/*search button added with padding*/
.searchBtn {
    padding: 10px;
    background-color: rgb(112, 112, 248);
    color: white;
}
/*search history added with padding*/
.search-history {
    color: grey;
padding: 20px;
}

/* added city*/
.city {
    padding: 20px;
    justify-content: center;
    text-align: center;
flex-direction: column;
}

/*added five-day forecast*/
.five-day {
    padding: 20px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}